SECRET_KEY=

DEBUG=
ALLOWED_HOSTS=

NAME=
USER=
PASSWORD=
HOST=
PORT=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=

TELEGRAM_BOT_TOKEN=

CORS_ALLOWED_ORIGINS=